html {
    scroll-behavior: smooth;
}

body.modo-escuro {
    background-color: #000;
}

.modo-escuro .rodape {
    background-color: #222;
}

.modo-escuro * {
    color: #fff;
}

h1,
h2,
h3,
h4,
th {
    font-family: Comfortaa, 'Kumbh Sans', sans-serif;
}

h2,
th {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

p,
a,
li,
td, 
button {
    font-family: Outfit, Figtree, sans-serif;
    font-size: 20px;
}

td {
    border: 1px solid #000;
    padding: 5px;
}

td:nth-child(2) {
    width: 257px;
}

/* ---------- ESTILOS CABEÇALHO ---------- */
.cabecalho {
    background-color: #ffa500;
    padding: 10px;
    width: 100%;
}

.cabecalho h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    margin-bottom: 30px;
    padding-top: 30px;
}

.cabecalho li a {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    padding: 10px;
}

.cabecalho li a:hover {
    background-color: rgb(188, 122, 0);
    transition: 0.15s ease-in-out;
}

.cabecalho .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* ---------- ESTILOS MAIN ---------- */
.conteudo {
    padding: 20px;
}

/* ---------- ESTILOS COMO REZAR ---------- */
.dezenas {
    margin: 50px 0;
    display: grid;
    grid-template-areas: "titulo-1 titulo-2-3-4 titulo-5";
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.dezenas .primeira {
    grid-area: titulo-1;
}

.dezenas .segunda-terceira-quarta {
    grid-area: titulo-2-3-4
}

.dezenas .quinta {
    grid-area: titulo-5
}

/* ---------- ESTILOS DEVOÇÕES MENSAIS ---------- */

.devocao {
    display: grid;
    grid-template-areas: "mes mes mes" "oferecimento oracao-do-mes agradecimento";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;
}

.mes {
    grid-area: mes;
    text-align: center;
}

.oferecimento {
    grid-area: oferecimento;
    text-align: center;
}

.oracao-do-mes {
    grid-area: oracao-do-mes;
    text-align: center;
}

.agradecimento {
    grid-area: agradecimento;
    text-align: center;
}

.devocao a {
    text-transform: uppercase;
}

body:not(.modo-escuro) .devocao a {
    color: blue;
}

.devocao a:hover {
    text-decoration: underline;
}

/* ---------- ESTILOS MISTÉRIOS ---------- */
.misterios {
    margin: 50px 0;
    text-align: center;
    display: grid;
    grid-template-areas: "gozosos dolorosos gloriosos luminosos";
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.gozosos {
    grid-area: gozosos;
}

.dolorosos {
    grid-area: dolorosos;
}

.gloriosos {
    grid-area: gloriosos;
}

.luminosos {
    grid-area: luminosos;
}

/* ---------- ESTILOS ORAÇÕES ---------- */
.oracoes ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ---------- ESTILOS PÁGINAS SECUNDÁRIAS ---------- */
.evangelhos,
.tercos,
.adventos {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 70px;
}

.tercos {
    grid-area: tercos;
    max-width: 1200px;
    margin-top: 20px;
}

.conteudo-tercos {
    display: grid;
    grid-template-areas: 'tercos como-rezar';
}

.como-rezar-tercos {
    grid-area: como-rezar;
    background-color: #f0f0f0;
    padding: 30px 0;
    max-width: 400px;
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.como-rezar-tercos ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 250px;
}

.como-rezar-tercos a:hover {
    text-decoration: underline;
}

/* ---------- ESTILOS RODAPÉ ---------- */
body:not(.modo-escuro) .rodape {
    background-color: #e0e0e0;
}

.rodape {
    padding: 10px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.rodape .conheca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rodape .conheca img {
    margin: 15px 0 10px 0;
}

.rodape .conheca a img {
    width: 90px;
    border-radius: 100%;
}

.rodape .conheca a:hover {
    text-decoration: underline;
}

.rodape .problema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rodape .problema h4 {
    margin-bottom: 5px;
}

.rodape .problema p {
    margin-bottom: 20px;
}

.rodape .problema .fab {
    font-size: 25px;
}

.rodape .problema .fab:hover {
    opacity: 70%;
}

.rodape .social {
    display: flex;
    gap: 20px;
}

.rodape .btn-modo-claridade {
    border: none;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

body:not(.modo-escuro) .rodape .btn-modo-claridade {
    box-shadow: 0 2px 10px #555;
}

body:not(.modo-escuro) .rodape .btn-modo-claridade:hover {
    background-color: #555;
    color: #eee;
    cursor: pointer;
}

body.modo-escuro .rodape .btn-modo-claridade {
    background-color: #222;
    box-shadow: 0 0 10px #eee;
    cursor: pointer;
}

body.modo-escuro .rodape .btn-modo-claridade:hover {
    background-color: #eee;
    color: #555;
}